<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather</title>
          <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <link rel="stylesheet" href="css/style.css">
    <script src="/Partial/src/app.js"></script>

</head>
<body>
    <div class="main-container">
        {{>header}}
        <p>User this side to get your weather</p>
    </div>
     <div class="container mt-5">  
  <nav aria-label="Page navigation">
    <ul class="pagination">
      <li class="page-item">
         <a class="page-link" href="/index">Perious</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="/about">Next</a>
      </li>
    </ul>
  </nav>
</div>
    {{>footer}}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>